## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=3
print(x)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print (type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre="Marcelo"

5) Crear una variable que contenga un número complejo

In [7]:
comp=3+4j
print(type(comp))

<class 'complex'>

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(comp))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
import math
p=round((math.pi),4)
print(p)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
tr="True"
tr2=True
print (tr)
print (tr2)

True
True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [19]:
print (type(tr))
print (type(tr2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
x=3+3.1
print (x)

6.1

11) Realizar una operación de suma de números complejos

In [21]:
a=1+1j
b=2+2j
print(a+b)

(3+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
a=1
b=2+2j
print(a+b)

(3+2j)

13) Realizar una operación de multiplicación

In [23]:
4*5

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [25]:
x=27/4
print(x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [30]:
x=27//4
print(x)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
z=27%4
print(z)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [31]:
a=4*x+z
print(a)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [32]:
a1="la "
a2="renga"
a3=a1+a2
print(a3)

la renga

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
print ("2"==2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [36]:
print((int("2"))==2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [42]:
a=float("3,8") #da error por el uso de la , en lugar de .
print (a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [44]:
a=3
a-=1
print (a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [46]:
1<<2 #realiza un dezplazamiento a la izquiera 1 desplazado 2 espacios es 100 que en binario es igual a 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [47]:
2+"2" #son dos operandos diferentes entero y string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [50]:
a=2
b=" manzanas"
c=str(a) + b
print (c)

2 manzanas